:global(*) {
  transition: 
    background-color var(--crypt-d-transition-main),
    background var(--crypt-d-transition-main),
    color var(--crypt-d-transition-main),
    opacity var(--crypt-d-transition-main),
    border var(--crypt-d-transition-main),
    box-shadow var(--crypt-d-transition-main);
}

:global(:root) {
  /* Durations */
  --crypt-d-transition-main: 400ms;

  /* Colors */
  --crypt-c-article-bg: white;
  --crypt-c-elevation-1: #FAFAFA;
  --crypt-c-main-borders: #DDDDDD;
  --crypt-c-opacifier-bg: rgb(0, 0, 0, .8);
  --crypt-c-default-texts: #101010;
  --crypt-c-light-text: rgb(16, 16, 16, .55);
  /* Shadows */
  --crypt-bsh-big: 0 0 40px 0 rgb(0, 0, 0, .3);
  --crypt-bsh-medium: 0 0 20px 0 rgb(0, 0, 0, .2);

  [data-color-mode="dark"] {
    /* Colors */
    --crypt-c-article-bg: #101010;
    --crypt-c-elevation-1: #202020;
    --crypt-c-main-borders: #333333;
    --crypt-c-opacifier-bg: rgb(24, 24, 24, .85);
    --crypt-c-default-texts: #FAFAFA;
    --crypt-c-light-text: rgb(250, 250, 250, .6);
    /* Shadows */
    --crypt-bsh-big: 0 0 40px 0 rgb(0, 0, 0, .7);
    --crypt-bsh-medium: 0 0 20px 0 rgb(0, 0, 0, .8);
  }
}

:global(body):has(.wrapper.wrapper_panel-open) {
  overflow: hidden;
}

.wrapper {
  position: relative;
  background-color: var(--crypt-c-article-bg);
}

.home-slot { z-index: 1; }
.header-slot { z-index: 2; }
.opacifier { z-index: 3; }
.side-panel-slot { z-index: 4; }
.color-mode-toggler-slot { z-index: 5; }

.header-slot {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

.color-mode-toggler-slot {
  position: fixed;
  top: 8px;
  right: 8px;
}

.wrapper.wrapper_panel-open .color-mode-toggler-slot {
  right: calc(8px + var(--scrollbar-width));
}

.home-slot {
  position: relative;
  padding: 16px;
}

.wrapper.wrapper_panel-open .home-slot {
  margin-right: var(--scrollbar-width);
}

.opacifier {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
  user-select: none;
  transition: background-color 300ms 100ms;
}

.wrapper.wrapper_panel-open .opacifier {
  pointer-events: auto;
  user-select: auto;
  background-color: var(--crypt-c-opacifier-bg);
  transition: background-color 300ms;
  cursor: pointer;
}

.side-panel-slot {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateX(100%);
  transition: transform 300ms;
  width: 100%;
  max-width: 960px;
  box-shadow: 0 0 0 0 transparent;
}

.wrapper.wrapper_panel-open .side-panel-slot {
  transform: translateX(0);
  box-shadow: var(--crypt-bsh-big);
}
