$c-white: white;
$c-snow-lighter: #FCFCFD;
$c-snow-light: #F5F6F8;
$c-snow-medium: #EFF0F3;
$c-snow-dark: #E8EAEE;
$c-snow-darker: #E2E4E9;
$c-smoke-lighter: #D5D8DC;
$c-smoke-light: #BDC1C8;
$c-smoke-medium: #A4A9B4;
$c-smoke-dark: #8B92A1;
$c-smoke-darker: #717B8E;
$c-slate-lighter: #666E80;
$c-slate-light: #565E70;
$c-slate-medium: #464F5F;
$c-slate-dark: #383F4E;
$c-slate-darker: #2A303C;
$c-sea-lighter: #EBF9FF;
$c-sea-light: #82C8E8;
$c-sea-medium: #026B9C;
$c-sea-dark: #005B85;
$c-sea-darker: #01364F;
$c-red-light: #FAB4B4;
$c-red-medium: #F62120;

/* Darkmode elevations */
$c-charcoal-light: #313439;
$c-charcoal-medium: #212327;
$c-charcoal-dark: #181A1E;
$c-fuel-lighter: #424957;
$c-surface-500: #2F3135;
$c-surface-900: #46484B;
$c-name-it-4: #5C5E61; /* [WIP] name it */
