.wrapper {
  background-color: var(--crypt-c-article-bg);
  height: 100%;
  overflow-y: scroll;
  position: relative;
}

.head-slot {
  position: fixed;
}

.cover-slot {
  aspect-ratio: 2;
  background-color: var(--crypt-c-elevation-1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--lm-texts-scale-level-28);
}

.content-slot {
  padding: 0 var(--lm-texts-scale-level-13);
  max-width: 800px;
  margin: 0 auto;
}
