.wrapper {
  position: relative;
}

.header-slot {
  position: sticky;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
}

.home-slot {
  position: relative;
  z-index: 1;
}

.opacifier {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
  user-select: none;
  transition: background-color 400ms;
}

.wrapper.wrapper_panel-open .opacifier {
  pointer-events: auto;
  user-select: auto;
  background-color: rgb(0, 0, 0, .8);
}

.side-panel-slot {
  position: fixed;
  z-index: 4;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateX(100%);
  transition: transform 400ms;
}

.wrapper.wrapper_panel-open .side-panel-slot {
  transform: translateX(0);
}
