.wrapper {
  position: relative;
  cursor: pointer;
}

.copy-btn {
  position: absolute;
  z-index: 2;
  top: 4px;
  right: 4px;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  cursor: pointer;
  background-color: var(--crypt-c-article-bg);
  padding: 4px;
  transition: opacity var(--crypt-d-transition-main);
}

.wrapper:hover .copy-btn {
  opacity: 1;
  pointer-events: auto;
  user-select: auto;
}

.wrapper:hover.wrapper_copied .copy-btn {
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

.copied {
  position: absolute;
  z-index: 2;
  top: 4px;
  right: 4px;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  padding: 4px;
  border-radius: 2px;
  background-color: var(--crypt-c-success-bg);
  color: var(--crypt-c-success-text);
  font-family: var(--lmui-ff-marr-sans);
  transition: opacity var(--crypt-d-transition-main);
}

.wrapper.wrapper_copied .copied {
  opacity: 1;
  pointer-events: auto;
  user-select: auto;
}

.content {
  position: relative;
  z-index: 1;
  transition: opacity var(--crypt-d-transition-main);
}

.wrapper.wrapper_copied .content {
  opacity: .4;
}
