.wrapper {
  position: relative;
  background-color: white;
  padding: 16px;
}

.separator {
  position: absolute;
  bottom: 0;
  left: 16px;
  right: 16px;
  height: 1px;
  background-color: #DDDDDD;
}
