@font-face {
  font-family: "The-Antiqua-B-Variable";
  font-display: swap;
  font-style: normal;
  font-weight: 125 900;
  font-stretch: 25% 150%;
  src:
    url(../../fonts/tabv/normal.woff2) format("woff2-variations"),
    url(../../fonts/tabv/normal.woff2) format("woff2");
}

@font-face {
  font-family: "The-Antiqua-B-Variable";
  font-display: swap;
  font-style: italic;
  font-weight: 125 900;
  font-stretch: 25% 150%;
  src:
    url(../../fonts/tabv/italic.woff2) format("woff2-variations"),
    url(../../fonts/tabv/italic.woff2) format("woff2");
}

:root, :host {
  --lmui-ff-the-antiqua-b: "The-Antiqua-B-Variable", Garamond, Times, serif;
}
