.wrapper {
  max-width: 1100px;
}

.section__title {
  color: var(--crypt-c-default-texts);
  margin-top: calc(2 * var(--lm-texts-large-scale-level-4));
  margin-bottom: var(--lm-texts-large-scale-level-2);
  font-family: var(--lmui-ff-marr-sans);
  font-weight: 600;
  font-size: var(--lm-texts-scale-level-14);
}

.section__cards {
  --gap: 8px;
  margin-left: calc(-1 * var(--gap));
  margin-right: calc(-1 * var(--gap));
  display: flex;
  flex-wrap: wrap;
}

.section__card {
  padding: var(--gap);
  width: calc(100% / var(--per-line, 2));
}

.section__card a {
  cursor: pointer;
}
