.wrapper {
  position: relative;
  border: 2px solid var(--crypt-c-main-borders);
  border-radius: 4px;
  overflow: hidden;
}

.display-slot {
  width: 100%;
  background-color: var(--crypt-c-elevation-1);
}

.display-slot__slide {
  padding: var(--lm-texts-scale-level-20);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.display-slot__slide.display-slot__slide_html,
.display-slot__slide.display-slot__slide_dkdll,
.display-slot__slide.display-slot__slide_pgdll {
  font-size: var(--lm-texts-scale-level-2);
}

.toggle-settings-slot {
  padding: var(--lm-texts-scale-level-10);
}

.toggle-settings {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: var(--lmui-ff-marr-sans);
  font-size: var(--lm-texts-scale-level-2);
  font-weight: 500;
  color: var(--crypt-c-default-texts);
}

.toggle-settings__icon {
  margin-right: 8px;
  transition: filter var(--crypt-d-transition-main);
}

[data-color-mode="dark"] .toggle-settings__icon {
  filter: invert(1);
}

.toggle-settings__label {
  transition: all 0ms;
}

.separator-slot {
  display: none;
  padding: 0 var(--lm-texts-scale-level-10);
}

.wrapper.wrapper_opened .separator-slot {
  display: block;
}

.settings-slot {
  padding: var(--lm-texts-scale-level-10);
}

.rounded-wrapper {
  padding: var(--lm-texts-scale-level-20);
  border-radius: 8px;
  background-color: var(--crypt-c-article-bg);
  box-shadow: var(--crypt-bsh-small);
  overflow-x: scroll;
}
