.wrapper {
  color: var(--crypt-c-light-text);
  font-family: var(--lmui-ff-the-antiqua-b);
  font-weight: 450;
  font-size: var(--lm-texts-scale-level-8);
  margin: var(--lm-texts-scale-level-19) 0;
}