.lmui-tooltip {
  font-size: 12px;
  text-align: left;
  line-height: 20px;
  color: white;
  overflow: visible;
  box-sizing: border-box;
  margin: 0px;
  border: 1px solid rgba(42, 48, 60, 0.9);
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 7px 2px;
  background: rgba(27, 27, 35, 0.97);
  border-radius: 4px;
  padding: 12px 14px;
}
