@use '../../_colors/index.scss' as colors;
@use '../../_mixins/index.scss' as mixins;

/* * * * * * * * * * * * * * * * * * * * * * *
 *
 * RAW COLORS
 *
 * * * * * * * * * * * * * * * * * * * * * * */

@include mixins.root {
  --lmui-c-white: #{colors.$c-white};
  --lmui-c-snow-lighter: #{colors.$c-snow-lighter};
  --lmui-c-snow-light: #{colors.$c-snow-light};
  --lmui-c-snow-medium: #{colors.$c-snow-medium};
  --lmui-c-snow-dark: #{colors.$c-snow-dark};
  --lmui-c-snow-darker: #{colors.$c-snow-darker};
  --lmui-c-smoke-lighter: #{colors.$c-smoke-lighter};
  --lmui-c-smoke-light: #{colors.$c-smoke-light};
  --lmui-c-smoke-medium: #{colors.$c-smoke-medium};
  --lmui-c-smoke-dark: #{colors.$c-smoke-dark};
  --lmui-c-smoke-darker: #{colors.$c-smoke-darker};
  --lmui-c-slate-lighter: #{colors.$c-slate-lighter};
  --lmui-c-slate-light: #{colors.$c-slate-light};
  --lmui-c-slate-medium: #{colors.$c-slate-medium};
  --lmui-c-slate-dark: #{colors.$c-slate-dark};
  --lmui-c-slate-darker: #{colors.$c-slate-darker};
  --lmui-c-sea-lighter: #{colors.$c-sea-lighter};
  --lmui-c-sea-light: #{colors.$c-sea-light};
  --lmui-c-sea-medium: #{colors.$c-sea-medium};
  --lmui-c-sea-dark: #{colors.$c-sea-dark};
  --lmui-c-sea-darker: #{colors.$c-sea-darker};
  --lmui-c-red-light: #{colors.$c-red-light};
  --lmui-c-red-medium: #{colors.$c-red-medium};

  /* Darkmode elevations */
  --lmui-c-charcoal-light: #{colors.$c-charcoal-light};
  --lmui-c-charcoal-medium: #{colors.$c-charcoal-medium};
  --lmui-c-charcoal-dark: #{colors.$c-charcoal-dark};
  --lmui-c-fuel-lighter: #{colors.$c-fuel-lighter};
  --lmui-c-surface-500: #{colors.$c-surface-500};
  --lmui-c-surface-900: #{colors.$c-surface-900};
  /* [WIP] name it */
  --lmui-c-name-it-4: #{colors.$c-name-it-4};
}

/* * * * * * * * * * * * * * * * * * * * * * *
 *
 * FUNCTIONAL COLORS - Light mode
 *
 * * * * * * * * * * * * * * * * * * * * * * */

@include mixins.light-mode {
  // Backgrounds [WIP] maybe go somewhere else
  --lmui-c-article-bg: var(--lmui-c-white);
  --lmui-c-block-bg: var(--lmui-c-white);
  --lmui-c-block-box-shadow: var(--lmui-bshd-block-box-shadow-light);
  --lmui-c-block-border: var(--lmui-c-snow-darker);
  --lmui-c-main-divider: var(--lmui-c-snow-darker);
  --lmui-c-main-opacifier: #{rgb(colors.$c-charcoal-dark, .92)};
}

/* * * * * * * * * * * * * * * * * * * * * * *
 *
 * FUNCTIONAL COLORS - Dark mode
 *
 * * * * * * * * * * * * * * * * * * * * * * */

@include mixins.dark-mode {
  // Backgrounds [WIP] maybe go somewhere else
  --lmui-c-article-bg: var(--lmui-c-charcoal-dark);
  --lmui-c-block-bg: var(--lmui-c-charcoal-medium);
  --lmui-c-block-box-shadow: var(--lmui-bshd-block-box-shadow-dark);
  --lmui-c-block-border: var(--lmui-c-slate-dark);
  --lmui-c-main-divider: var(--lmui-c-slate-light);
  --lmui-c-main-opacifier: #{rgb(colors.$c-charcoal-dark, .92)};
}
