/* Regular */
@font-face {
  font-family: "Marr-Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src:
    url(../../fonts/ms/400.eot?#iefix) format("embedded-opentype"),
    url(../../fonts/ms/400.woff2) format("woff2"),
    url(../../fonts/ms/400.woff) format("woff");
}

/* Medium */
@font-face {
  font-family: "Marr-Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src:
    url(../../fonts/ms/500.eot?#iefix) format("embedded-opentype"),
    url(../../fonts/ms/500.woff2) format("woff2"),
    url(../../fonts/ms/500.woff) format("woff");
}

/* Semibold */
@font-face {
  font-family: "Marr-Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src:
    url(../../fonts/ms/600.eot?#iefix) format("embedded-opentype"),
    url(../../fonts/ms/600.woff2) format("woff2"),
    url(../../fonts/ms/600.woff) format("woff");
}

/* Bold (Not hosted by lemonde.fr) */
@font-face {
  font-family: "Marr-Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src:
    url(../../fonts/ms/700.woff2) format("woff2"),
    url(../../fonts/ms/700.woff) format("woff");
}

/* Ultrablack (Not hosted by lemonde.fr) */
@font-face {
  font-family: "Marr-Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 950;
  src:
    url(../../fonts/ms/950.woff2) format("woff2"),
    url(../../fonts/ms/950.woff) format("woff");
}

/* Ultrablack italic (Not hosted by lemonde.fr) */
@font-face {
  font-family: "Marr-Sans";
  font-display: swap;
  font-style: italic;
  font-weight: 950;
  src: url(../../fonts/ms/950-i.woff2);
}

:root, :host {
  --lmui-ff-marr-sans: "Marr-Sans", Helvetica, Arial, Roboto, sans-serif;
}
