@use '../../_mixins/index.scss' as mixins;

// [WIP] get rid of all this I think

// @include mixins.root {
//   --lmui-ic-default-light: brightness(0%); /* [WIP] -ic ?*/
//   --lmui-ic-default-dark: brightness(0%) grayscale(100%) invert(1);
//   --lmui-ic-red-light: hue-rotate(180deg) brightness(110%) saturate(180%) contrast(160%);
//   --lmui-ic-red-dark: hue-rotate(180deg) brightness(110%) saturate(180%) contrast(160%) grayscale(20%);
//   --lmui-ic-green-light: hue-rotate(-80deg) brightness(130%);
//   --lmui-ic-green-dark: hue-rotate(-80deg) brightness(130%);
//   --lmui-ic-white-light: brightness(10%) invert(1);
//   --lmui-ic-white-dark: brightness(10%) invert(1);
//   --lmui-ic-small: scale(0.8);
// }

// @include mixins.light-mode {
//   --lmui-ic-default: var(--lmui-ic-default-light); /* Black in lightmode, white in darkmode */
//   --lmui-ic-red: var(--lmui-ic-red-light); /* Red */
//   --lmui-ic-green: var(--lmui-ic-green-light); /* Green */
//   --lmui-ic-white: var(--lmui-ic-white-light); /* White in lightmode, white in darkmode */
//   --lmui-ic-black: var(--lmui-ic-default-light); /* Black in lightmode, black in darkmode */
// }

// @include mixins.dark-mode {
//   --lmui-ic-default: var(--lmui-ic-default-dark); /* White in darkmode, black in lightmode */
//   --lmui-ic-red: var(--lmui-ic-red-dark); /* Red */
//   --lmui-ic-green: var(--lmui-ic-green-dark); /* Green */
//   --lmui-ic-white: var(--lmui-ic-white-dark); /* White in darkmode, white in lightmode */
//   --lmui-ic-black: var(--lmui-ic-default-light); /* Black in darkmode, black in lightmode */
// }

@include mixins.light-mode {
  --lmui-c-icon-fill-1: var(--lmui-c-slate-dark);
  --lmui-c-icon-fill-2: var(--lmui-c-slate-darker);
  --lmui-c-icon-fill-3: var(--lmui-c-slate-light);
  --lmui-c-icon-background: transparent;
}

@include mixins.dark-mode {
  --lmui-c-icon-fill-1: var(--lmui-c-white);
  --lmui-c-icon-fill-2: var(--lmui-c-snow-light);
  --lmui-c-icon-fill-3: var(--lmui-c-snow-dark);
  --lmui-c-icon-background: transparent;
}

svg.lmui-icon { background-color: var(--lmui-c-icon-background); }
svg.lmui-icon .fill-1 { fill: var(--lmui-c-icon-fill-1); }
svg.lmui-icon .fill-2 { fill: var(--lmui-c-icon-fill-1); }
svg.lmui-icon .fill-3 { fill: var(--lmui-c-icon-fill-1); }

.lmui-icon.lmui-icon_as-img.lmui-icon_with-mask {
  display: inline-block;
  aspect-ratio: 1;
  overflow: hidden;
}

.lmui-icon__image-mask {
  display: block;
}

.lmui-icon__masked {
  display: block;
  aspect-ratio: 1;
  transform: translateY(-100%);
  -webkit-mask-image: var(--img-url);
  mask-image: var(--img-url);
  mask-mode: alpha;
  mask-size: cover;
  background-color: var(--mask-color, transparent);
}
